@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


html {
    scroll-padding-top: 90px;
}

body {
    background-color: #111217;
    margin: 0px;
}

nav {
    background-color: #171A1E;
    padding: 10px;
    position: fixed;
    display: block;
    width: 100%;
    top: 0px;
    box-shadow: 0px 0px 5px black;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    color: white;
    background-color: #336BE4;
    border-radius: 4px;
    padding: 0px;
    margin: 5px;
    font-family:  'Varela Round', sans-serif;
}

nav li a {
    display: block;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-family:  'Varela Round', sans-serif;
    text-decoration: none;
}

#header {
    margin: 16px auto;
    margin-top: 90px;
    padding: 10px 0px;
    width: 70%;
    /* background-color: #171A1E;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black; */
}

#header img {
    border-radius: 15px;
}

.logo {
    width: 70%;
    display: block;
    margin: auto;
}

h1.tagline {
    text-align: center;
    color: white;
    font-family:  'Varela Round', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
}

@media (max-width:850px) {
 h1.tagline {
     font-size: 20px;
     }
  }

#content {
    color: white;
    font-size:20px;
    width: 70%;
    margin: 0 auto;
}

h1  {
    color: white;
    font-family:  'Varela Round', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

#about {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #171A1E;
    padding: 10px 20px;
    margin: 16px auto;
    /* margin-top: 20px; */
    
    background-color: #171A1E;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
}

#about h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

#team {
    text-align:center;
    margin: 16px auto;
    background-color: #171A1E;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.team-member {
    display: inline-block;
    margin: 20px;
}

.team-member-picture {
    max-width: 300px;
    min-width: 100px;
}

#team a {
    color: white;
    padding: 10px;
    font-size: 18px;
    font-family:  'Varela Round', sans-serif;
    text-decoration: none;
}

#features {
    text-align:center;
    margin: 16x auto;
    background-color: #171A1E;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    padding: 10px 20px;
}

p {
    line-height: 21px;
}