@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* medium gray: #131619;
dark gray: #111217;
light gray for text: #CCCCDC;
Blue: #336BE4; */

/* .top.scrolled {
    color:#000;
    text-shadow: 0px 0px 2px #fff;
    opacity:1;
  }

.top {
    position: fixed;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    bottom:1.5rem;
    right:1.5rem;
    width:3rem;
    height:3rem;
    line-height: 3rem;
    font-size:1.5rem;
    border-radius: .5rem;
    border:1px solid white;
    box-shadow: 0 0 2px 0px white;
    transition: opacity 1s ease;
    opacity:0;
    cursor: pointer;
  } */

body {
    background-color: #111217;
    margin: 0px;
    padding-top:20px;
}

nav {
    background-color: #171A1E;
    padding: 10px;
    position: fixed;
    display: block;
    width: 100%;
    top: 0px;
    box-shadow: 0px 0px 5px black;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    color: white;
    background-color: #336BE4;
    border-radius: 4px;
    padding: 0px;
    margin: 5px;
    font-family:  'Varela Round', sans-serif;
}

nav li a {
    display: block;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-family:  'Varela Round', sans-serif;
    text-decoration: none;
}

#header {
    margin: 0px auto;
    margin-top: 100px;
    padding: 10px 0px;
    width: 70%;
    background-color: #171A1E;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
}

#header img {
    border-radius: 15px;
}

.logo {
    width: 70%;
    display: block;
    margin: auto;
}

h1.tagline {
    text-align: center;
    color: white;
    font-family:  'Varela Round', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
}

@media (max-width:850px) {
 h1.tagline {
     font-size: 20px;
     }
  }

#content {
    color: white;
    font-size:20px;
    width: 70%;
    margin: 0 auto;
}

h1  {
    color: white;
    font-family:  'Varela Round', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
}

#about {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #171A1E;
    margin: 0px auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #171A1E;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
}

#about h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

#team {
    text-align:center;
    margin: 0px auto;
    background-color: #171A1E;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.team-member {
    display: inline-block;
    margin: 20px;
}

.team-member-picture {
    max-width: 300px;
    min-width: 100px;
}

#team a {
    color: white;
    padding: 10px;
    font-size: 18px;
    font-family:  'Varela Round', sans-serif;
    text-decoration: none;
}

#features {
    text-align:center;
    margin: 0px auto;
    background-color: #171A1E;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

p {
    line-height: 21px;
}